nav {
  position: fixed;
}

img {
  border: 2px solid white;
  margin-bottom: 1em;
  background-color: white;
}

h2 {
  margin-top: 0.5em;
}

p {
  font-family: "Roboto Mono", serif;
  color: #BEBEBE;
  line-height: 1.2em;
  font-size: 0.8em;
}

.project-link {
  text-decoration: underline;
}

#main {
  padding: 8%;
}

#name {
  position: relative;
  top: 1em;
}
