body, html {
  font-family: "Roboto", sans-serif;
  background-color: #111111;
  height: 100%;
  color: white;
}

h1 {
  font-family: "Roboto Mono", serif;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #FFD300;
}

nav {
  font-size: 2em;
  line-height: normal;
}

.card {
  background-color: #111111;
  border: 1px solid white;
  padding-top: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: .25em;
  height: 100%;
}

.yellow {
  color: #FDD300;
}

.right-align {
  text-align: right;
}
